@charset "UTF-8";
/*Шрифты*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Nunito:wght@300;400;600;700;800&display=swap");
/*Переменные*/
body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: #525252;
  margin: 0;
  padding: 0;
  min-width: 360px;
  height: 100%;
  line-height: 1.3;
  letter-spacing: 0.2px;
  background-color: #fff; }

a {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none; }
  a:hover, a:focus {
    color: #147AA9; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #333; }

img {
  max-width: 100%;
  height: auto; }

button {
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 2 */ }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.main__nav .nav-link {
  font-weight: 600;
  color: #525252; }
  .main__nav .nav-link:hover, .main__nav .nav-link:focus, .main__nav .nav-link:active {
    color: #147AA9; }

.btn {
  font-weight: 600;
  border-width: 1.5px; }
  .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.exit {
  color: #147AA9; }
  .exit:hover, .exit:focus, .exit:active {
    color: #525252;
    -webkit-box-shadow: none;
            box-shadow: none; }

.banner .container {
  padding-top: 12px;
  padding-bottom: 143px;
  background: url("../img/landing_banner.png") no-repeat right 150px top/auto 380px; }

.banner__text h1 {
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 1.9px; }

.banner__desc {
  font-size: 20px;
  margin: 25px 0 45px;
  letter-spacing: 0;
  max-width: 400px; }

.adv h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0; }

.adv__text {
  max-width: 700px;
  margin: 20px auto 35px; }

.adv__list {
  list-style: none;
  padding-left: 0;
  font-weight: 300; }
  .adv__list h3 {
    font-weight: 600;
    padding-top: 90px;
    background-size: 70px auto;
    background-repeat: no-repeat;
    background-position: top center;
    letter-spacing: 0;
    max-width: 300px;
    font-size: 20px; }
  .adv__list li:nth-of-type(1) h3 {
    background-image: url("../img/stopwatch.svg"); }
  .adv__list li:nth-of-type(2) h3 {
    background-image: url("../img/decision.svg"); }
  .adv__list li:nth-of-type(3) h3 {
    background-image: url("../img/calendar.svg"); }
  .adv__list li:nth-of-type(4) h3 {
    background-image: url("../img/organization.svg"); }

.slider {
  padding: 65px 0;
  margin-top: 97px;
  margin-bottom: 100px;
  background: url("../img/gantt.png") no-repeat center right -56px/auto 100%;
  font-size: 20px; }

.carousel-text {
  max-width: 605px;
  letter-spacing: 0; }
  .carousel-text h3 {
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 435px;
    letter-spacing: 0.5px;
    font-size: 36px; }

.carousel-indicators {
  position: static;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 27px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background: #CCCCCC;
  border-radius: 50%;
  border: none;
  opacity: 1;
  margin-right: 12px; }

.carousel-indicators .active {
  background: #147AA9; }

.tasks .row {
  margin-bottom: 67px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.4; }
  .tasks .row .tasks__img {
    height: 400px; }
  .tasks .row:nth-of-type(1) .tasks__img {
    background: url("../img/cod.png") no-repeat center/contain; }
  .tasks .row:nth-of-type(2) .tasks__img {
    background: url("../img/table.png") no-repeat center/contain; }
  .tasks .row:nth-of-type(3) .tasks__img {
    background: url("../img/work.png") no-repeat center/contain; }

.tasks h3 {
  font-weight: 700;
  letter-spacing: 0;
  max-width: 580px;
  margin-bottom: 18px;
  line-height: 1.4;
  font-size: 36px; }

.callback {
  background: #147AA9;
  padding: 60px 0;
  color: #fff;
  position: relative;
  margin-top: 204px; }
  .callback h3 {
    color: #fff;
    font-size: 36px; }
  .callback::after {
    content: "";
    width: 50%;
    height: 512px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/rocket.png") no-repeat bottom left/contain; }

.callback__form {
  max-width: 45%;
  margin-left: auto; }
  .callback__form p {
    max-width: 300px; }
  .callback__form form {
    position: relative; }
  .callback__form input[type="email"] {
    width: 100%;
    height: 44px;
    border-radius: 25px; }
  .callback__form .btn {
    position: absolute;
    top: 2px;
    right: 13px;
    border-radius: 25px;
    padding: 4px 20px 3px; }

#to-top {
  width: 44px;
  height: 44px;
  position: fixed;
  bottom: 30px;
  right: 5%;
  border-radius: 8px;
  background: #147AA9 url("../img/up.svg") no-repeat center/16px 20px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  #to-top:hover, #to-top:focus {
    background-color: #0B629C; }

@media (max-width: 1400px) {
  .slider {
    background-size: 425px auto;
    background-position: top right -30px; } }

@media (max-width: 992px) {
  .header .container {
    margin-bottom: 0 !important; }
  .header.open {
    background: #147AA9;
    color: #fff; }
    .header.open .navbar {
      min-height: 100vh;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .header.open .navbar-collapse {
      margin-top: 50px; }
    .header.open .header__logo {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    .header.open .nav-link {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      padding-left: 0 !important; }
    .header.open .btn {
      width: 330px;
      max-width: 100%;
      color: #fff;
      border: 2px solid #fff;
      margin-bottom: 10px; }
    .header.open .exit {
      margin-right: 0 !important; }
    .header.open .btn-outline-primary {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      background: #fff;
      color: #147AA9;
      margin-top: 30px; }
  .navbar-toggler span {
    width: 24px;
    height: 2px;
    background: #525252;
    display: block;
    margin-bottom: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .header.open span {
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .header.open span:nth-of-type(1) {
      -webkit-transform: rotate(45deg) translateY(7px);
              transform: rotate(45deg) translateY(7px); }
    .header.open span:nth-of-type(2) {
      -webkit-transform: rotate(-45deg) translateY(-7px);
              transform: rotate(-45deg) translateY(-7px); }
    .header.open span:nth-of-type(3) {
      opacity: 0; }
  .navbar-toggler {
    padding: 0; }
  .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .container {
    padding-left: 16px;
    padding-right: 16px; }
  .banner .container {
    padding-top: 308px;
    background-size: auto 300px;
    background-position: top center;
    padding-bottom: 0;
    margin-bottom: 60px; }
  .banner__text h1 {
    font-size: 34px; }
  .banner__text p {
    margin-bottom: 25px; }
  .adv h2 {
    font-size: 1.5rem; }
  .adv__text {
    margin: 25px auto 50px;
    font-size: 19px !important; }
  .adv__list > li:not(:last-of-type) {
    margin-bottom: 10px; }
  .tasks .row {
    margin-bottom: 30px; }
  .callback {
    padding: 52px 0; }
  .callback h3 {
    font-size: 36px; }
  .callback::after {
    width: 40%; }
  .callback__form {
    max-width: 55%; }
  .tasks__img {
    background-size: 325px auto; } }

@media (max-width: 768px) {
  .slider {
    padding: 320px 0 30px;
    background-position: top center;
    background-size: auto 270px;
    background-image: url("../img/gantt-mob.png");
    margin-top: 32px;
    margin-bottom: 39px; }
  .carousel-text h3 {
    margin-bottom: 18px;
    max-width: 320px;
    line-height: 1.4; }
  .carousel-text {
    line-height: 1.4; }
  .tasks__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 15px;
    background-position: top center !important;
    background-size: 340px auto !important; }
  .callback {
    margin-top: 0; }
    .callback:after {
      display: none; }
  .callback__form {
    max-width: 100%; }
    .callback__form .btn {
      right: 13px;
      font-size: 16px;
      padding: 8px 20px 6px; }
  .callback__form input[type="email"] {
    font-size: 16px;
    height: 45px; }
  .footer .col-0 {
    display: none;
    visibility: hidden; } }

@media (min-width: 1400px) {
  .container, .container-lg,
  .container-md, .container-sm,
  .container-xl, .container-xxl {
    max-width: 1350px; } }

.price {
  margin: 30px 0 55px; }
  .price h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center; }
  .price .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
    padding-left: 0; }
  .price .card-title, .price .h6 {
    font-weight: 700;
    margin-bottom: 0; }
  .price .card-title {
    font-size: 24px; }
  .price .h6 {
    font-size: 20px; }
  .price .card {
    border-radius: 15px;
    max-width: 280px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
    padding: 30px; }
    .price .card .btn {
      font-size: 16px;
      margin-top: 10px; }

.price__text {
  max-width: 550px;
  font-size: 20px;
  margin: 0 auto 50px; }

.price__light {
  font-weight: 300;
  font-size: 16px; }

#flexSwitchCheckDefault.price__toggle {
  margin: 0 10px;
  width: 60px;
  height: 30px;
  border-color: #ccc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23147AA9'/%3e%3c/svg%3e"); }
  #flexSwitchCheckDefault.price__toggle:focus {
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
    border-color: #ccc;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23147AA9'/%3e%3c/svg%3e"); }
  #flexSwitchCheckDefault.price__toggle:checked {
    border-color: #ccc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23147AA9'/%3e%3c/svg%3e"); }

@media (max-width: 768px) {
  .price h1 {
    font-size: 36px; } }

.qa__title .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  letter-spacing: 0;
  line-height: 1.4; }

.qa__title h1 {
  max-width: 500px;
  font-size: 46px;
  letter-spacing: 1.6px; }

.qa__nav {
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 15px 0;
  max-width: 280px;
  font-weight: 600;
  font-size: 18px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin-right: 20px; }
  .qa__nav .nav-link.active,
  .qa__nav .nav-link:focus,
  .qa__nav .nav-link:hover,
  .qa__nav .nav-link:target {
    color: #333333; }

.qa__accordion .accordion-item {
  border-color: #ccc; }

.qa__accordion.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #ccc; }

.qa__accordion .accordion-button {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: 600; }

.qa__accordion .accordion-button.collapsed::after {
  background-image: url("../img/cross.svg");
  background-size: 18px;
  background-position: center right;
  width: 40px; }

.qa__accordion .accordion-button::after {
  background-image: url("../img/min.svg");
  background-size: 18px auto;
  background-position: center right;
  width: 40px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }

.qa__accordion .accordion-button:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.qa__accordion .accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit; }

.qa__accordion .accordion-body {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  font-weight: 300; }

.qa__accordion-title {
  font-size: 36px; }

@media (max-width: 992px) {
  .qa__title {
    text-align: center; }
  .qa__title h1 {
    font-size: 36px; } }

@media (max-width: 768px) {
  .qa__nav {
    margin: 0 auto 2rem;
    position: static; } }

.no-page {
  min-height: 655px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F9FB; }

.no-page__header {
  background-color: #147AA9;
  -webkit-box-shadow: 0px 4px 16px rgba(20, 122, 169, 0.16);
          box-shadow: 0px 4px 16px rgba(20, 122, 169, 0.16); }
  .no-page__header .header__logo {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }

.no-page__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  .no-page__main h1 {
    font-size: 2rem; }

.no-page__main .container {
  background: url("../img/not.png") no-repeat top right;
  height: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

@media (max-height: 656px) {
  .no-page {
    min-height: 100vh; }
  .no-page__main .container {
    background-size: auto 100%;
    background-position: bottom right; } }

@media (max-width: 992px) {
  .no-page__main .container {
    background-size: 40% auto; } }

@media (max-width: 768px) {
  .no-page__main .container {
    background-size: auto 250px; } }

@media (max-width: 380px) {
  .no-page__main .container {
    background-size: auto 150px; }
  .no-page__main h1 {
    margin-top: 180px; } }

/*# sourceMappingURL=style.css.map */
