.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
build/
Reserv/
res/
source/
Thumbs.db
.editorconfig
.gitattributes
.stylelintrc
gulpfile.js
package.json
package-lock.json
